 .main{
    
 }
 
 .bg-image {
    max-width: 140%;
    max-height: 700px;
    text-shadow: 1px 1px #242724;
     opacity: 2;
    background-image: url('../images/d3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:100%;
    filter: grayscale(10%);

}
 