* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    text-align: center;
}

.bg-image {
    max-width: 95%;
    height: auto;
    text-shadow: 1px 1px #61767b;
    
    background-image: url('../images/yes.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:100%;

}

.how-section1 {
    margin-top: -15%;
    padding: 10%;
}

.how-section1 h4 {
   
    color: #ffa500;
    text-shadow: 1px 1px #6cabad;
    font-weight: bold;
    font-size: 50px;
}

.how-section1 .subheading {
    color: #fb8700;
    text-shadow: 1px 1px #395455;
    font-size: 30px;
}

.how-section1 p {
    text-shadow: 1px 1px;
    font-size: 30px;
}

.how-section1 .row {
    margin-top: 10%;
}

.how-img {
    text-align: center;
}

.how-img img {
    width: 65%;
    height: auto;
}

